{% extends "base.html" %}
{% block page_content %}
<section class="section">
    <div class="container">
        <div class="box">
            <h3 data-bind="visible: notDoneLoading()">Please wait while the data is being inspected...</h3>
            <table id="myTable" class="display" width="100%"></table>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var dataset = [
                    ["HN", "Text"],
                    ["Received Date", "DateTime"],
                    ["Isolate", "Text"]
                ];
    $(document).ready(function() {
        $('#myTable').DataTable({
            data: dataset,
            columns: [
                {title: 'name'},
                {title: 'type'}
                ]
            });
        });
    var ViewModel = function() {
        var self = this;
        self.notDoneLoading = ko.observable(true);
    }
    var vm = new ViewModel();
    ko.applyBindings(vm);
    $.get($SCRIPT_ROOT+'/analytics/api/inspect', {'datafile': {{datafile|tojson|safe}} }).done(function(data) {
        vm.notDoneLoading(false);
    });
</script>
{% endblock %}