{% extends "base.html" %}
{% block page_content %}
<section class="section">
    <div class="container">
        <h1 class="title">Antibiogram Page</h1>
    </div>
</section>
<section class="section">
    <div class="container">
      <div class="notification">
        <canvas id="myChart" class="has-shadow"></canvas>
      </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: "My first dataset",
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45],
            }]
        },
        options: {}
      });
</script>
{% endblock %}