{% extends "base.html" %}
{% block page_content %}
  <section class="hero is-large is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Biolytics Black Panther 0.1</h1>
        <h2 class="subtitle">
          Microbiological data management and analytics system
        </h2>
        <p>
          <button class="button is-dark is-rounded">Register</button>
          <button class="button is-dark is-rounded">Learn More</button>
        </p>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Biolytics Black Panther v.0.1</strong>
          <br>
          Faculty of Medical Technology, Mahidol University
          <br>
          Copyright 2018
        </p>
      </div>
    </div>
  </footer>
{% endblock %}
